.container {
  color: #FFFFFF;
  max-width: 1080px;
  margin: 2rem auto;
  line-height: 2rem;
  padding: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

label {
  display: block;
  margin-top: 1rem;
}


input {
  padding: 0.5rem;
  margin-left: 0.2rem;
  background-color: #000000 ;
  border: 2px solid #BBBBBB;
  border-radius: 5px;
  color: #FFFFFF;
}
input {
  &.valido {
    border: 2px solid green;
  }
  &.no-valido{
    border: 2px solid red;
  }

}

button {
  background-color: #E15C26;
  color: #000000;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 10px;
  margin: 1rem;
  display: inline;
}
button:hover{
  cursor: pointer;
}
button:active{
  background-color: #97330b;
  color: #eadfdf;
}

button:disabled {
  background-color: #de8968;
  cursor: none;

}

.mensaje {
  color: #E15C26;
  opacity: 0;
  transition: all .5s ease-in;
  &.error-activo {
    opacity: 1;
  }
  &.error-activo::after {
    content: "❗️";
    background-color: #DDDDDD;
    margin-left: 0.5rem;
    padding: 0 0.3rem;
    border-radius: 5px;
  }
}

label.linea {
  display: inline;
  padding-right: 1rem;
}

div.proteccion  {
  font-size: 0.8rem;
  color: #DDDDDD;
}



fieldset {
  border: 2px solid #AAAAAA;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative;
}

.info {
  padding: 0 1rem;
  font-weight: bold;
  color: #F8F8F8;
  background-color: #555453;
  border-radius: 5px;

}
 legend {
  padding: 0 1rem;
  font-weight: bold;
  color: #F8F8F8;
  background-color: #555453;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transform: translate(0%, 50%);

}
