<div class="container">
  <header>
    <h2>Únete a nosotros y disfruta de los mejores cursos</h2>
    <p>Accede a más de 50 cursos. No pares tu formación</p>
  </header>

  <div id="precios">
    <div class="precio">
      <div class="encabezado aconsejado">Si no estás seguro</div>
      <div class="descripcion">
          <h3>Mensual</h3>
          <p class="importe">15€/mes</p>
          <p>Acceso a todos los cursos.</p>
          <button class="quiero">
            Lo quiero
          </button>
        </div>
        <div class="detalle">
          <ul>
            <li>Acceso desde web y app</li>
            <li>Disponible 24/7</li>
            <li>Acceso a tutores</li>
          </ul>
        </div>
    </div>
    <div class="precio">
      <div class="encabezado preferido">Ahorra un 17%</div>
      <div class="descripcion">
          <h3>Anual</h3>
          <p class="importe">150€</p>
          <p>Ahorra dos meses al año</p>
          <button class="quiero">
            Lo quiero
          </button>
        </div>
        <div class="detalle">
          <ul>
            <li>Acceso desde web y app</li>
            <li>Disponible 24/7</li>
            <li>Acceso a tutores</li>
          </ul>
        </div>
    </div>
    <div class="precio">
      <div class="encabezado">Si sólo quieres un curso</div>
      <div class="descripcion">
          <h3>Pago por curso</h3>
          <p class="importe">10€</p>

          <p>Acceso de por vida al curso seleccionado.</p>
          <button class="quiero">
            Lo quiero
          </button>
      </div>
      <div class="detalle">
        <ul>
          <li>Acceso desde web y app</li>
          <li>Disponible 24/7</li>
        </ul>
      </div>
    </div>
  </div>
</div>

