<header>
  <div class="logo"></div>
  <div class="principal">
    <h1>Academia Cinco Punto Cero</h1>
      <nav>
        <ul>
          <li>
            <a [routerLink]="['']">Cursos</a>
          </li>
          <li>
            <a [routerLink]="['precios']">Precios</a>
          </li>
          <li>
            <a [routerLink]="['contacto']">Contacto</a>
          </li>
        </ul>
      </nav>
  </div>
  <div class="registro">
    <button (click)="registrar()">Únete</button>
    <a  href="#">Login</a>
  </div>

</header>
